<div class="jumbotron">
  <h2>Organize your trips here!</h2>
  <p class="lead">
    This application will make planning your trip, as easy as planning your pizza, <i>not that pizza planning is easy</i>. This app will enable you to <b>Search</b> information online and <b>Save</b> it for future references. Key features of this single page web app are:
    <ul class="lead">
      <li>Better Organization</li>
      <li>Contextualizing Content Saving</li>
      <li>Efficient Sharing</li>
      <li>Remote Collaboration</li>
      <li>Responsive- Browser and OS independent</li>
    </ul>
  </p>
  <p>
     Use Tripzza to make better decisions with regards to travel.  We are still in beta, so please be nice.
  </p>
  <p>

    In order for this demo to work, you <strong>must enable pop-ups</strong> on
    this site. Dropbox is happy to so pop-ups enabled :)

  </p>
  <p>
    Press the big green button to do the magic..!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/explorer">Start</a></p>
</div>
